joblib==1.6.0
numpy==2.5.3
scipy==1.18.1
scikit-learn==1.9.1
spacy==3.8.16
pandas
matplotlib
openpyxl
streamlit
https://github.com/explosion/spacy-models/releases/download/es_core_news_sm-3.8.0/es_core_news_sm-3.8.0-py3-none-any.whl